.vbmenu_control {
    background-color: #F5F5FF !important;
}

.thead {
    background-color: #F5F5FF !important;
}

.td.thead {
    background-color: #F5F5FF !important;
}


.tcat {
    background-color: #F5F5FF !important;
}

.alt2{
    background-color: #F5F5FF !important;
}

body {
    background:  #F2F2F2 !important;
}